body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}

button {
    padding: 15px;
    font-size: 18px;
    margin-top: 20px;
}

#stats {
    margin-top: 20px;
    font-size: 20px;
}
